* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
header {
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 1000;
  background-color: rgb(230, 229, 227);
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 175px;
  font-size: 24px;
}

header .nav .menu ul {
  display: flex;
  gap: 40px;
}

header .nav .menu ul a {
  color: #fca1a1;
}

header .nav .menu ul li:hover a {
  color: white;
  background-color: #3cb815;
  border-radius: 10px;
}

.nav .info {
  display: flex;
  gap: 30px;
}

.nav .info a {
  background-color: #3cb815;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
}

/* slider */
.slider-item {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}
.slider-item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.4);
}
.slider .slider-1 {
  background-image: url(./anh/1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: cover;
}

.slider .slider-2 {
  background-image: url(./anh/2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: cover;
}

.slider .slider-3 {
  background-image: url(./anh/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-repeat: cover;
}

.owl-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px !important;
  color: white !important;
}

.owl-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px !important;
  color: white !important;
}

.owl-prev,
.owl-next {
  background: none !important;
}

.owl-dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 52%;
  right: 30px;
  transform: translateY(-50%);
}

.owl-dot span {
  width: 15px !important;
  height: 15px !important;
  margin: 0 !important;
  background: transparent !important;
}

.owl-dot {
  width: 23px;
  height: 23px;
  border: 2px solid #fff !important;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 6px;
}

.owl-dot.active span {
  background-color: #a773eb !important;
}

.wraper {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  position: absolute;
  left: 60px;
}

.slider-item-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider-item-text p {
  color: #fff;
}

.slider-item-text p button {
  position: absolute;
  top: 180px;
  padding: 12px 20px;
  background-color: #8133e0;
  border: none;
  cursor: pointer;
  color: #fff;
  border-radius: 20px;
}

.slider-item-text p button:hover {
  background-color: aqua;
}

/* slider-banner */

.slider-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  padding: 30px 0;
  position: relative;
}
.card-abc {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.card-item {
  width: 400px;
  height: 300px;
}

.card-item1 {
  background-image: url(./anh/banner10.png);
  border-radius: 10px;
}

.card-item2 {
  background-image: url(./anh/banner11.png);
  border-radius: 10px;
}

.conment {
  position: absolute;
  top: 30%;
  margin: 0 20px;
  font-size: 24px;
  color: white;
}
.conment p {
  margin: 10px;
}
.conment a {
  color: #e98d8d;
  width: 100px;
  background-color: #a773eb;
  border-radius: 10px;
  padding: 5px;
  transition: all 1s;
}
.conment a:hover {
  background-color: rgb(225, 249, 147);
  color: #fff;
}
/* 
list card */
.para h3 {
  text-align: center;
  font-size: 36px;
  padding: 50px 0;
}
.list-card {
  padding: 0 100px;
}
.body-list {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}
.card {
  position: relative;
  background: #fff;
  width: 250px;
  height: 350px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 120ms;
  overflow: hidden;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
}

.card:active {
  transform: scale(0.95);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 25px 5px rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.card::after {
  content: "Thêm Vào giỏ";
  position: absolute;
  bottom: -50%;
  left: 0;
  padding-left: 15px;
  background: #181818;
  width: 100%;
  height: 60px;
  color: #fff;
  line-height: 50px;
  text-transform: uppercase;
  z-index: 2;
  transition: all 0.2s ease-in;
}

.card:hover::after {
  bottom: 0;
}

.card:active::after {
  content: "Adding !";
  height: 65px;
}

.image {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 180px;
  height: auto;
  filter: drop-shadow(3px 3px 5px #18181815);
  transform: translate(-50%, -50%);
  animation: shoes 1s ease infinite alternate;
  transition: all 0.5s ease-in;
}

@keyframes shoes {
  from {
    top: 48%;
  }

  to {
    top: 52%;
  }
}

.card:hover .image {
  /* top: 20%;
  left: 30%; */
  width: 220px;
  height: auto;
  animation: none;
  transform: rotate(15deg) translate(-35%, -25%);
}

.text {
  position: absolute;
  top: 15%;
  left: -80%;
  color: #181818;
  transition: all 0.3s ease-in;
}

.text span {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 5px;
}

.text p {
  font-size: 18px;
  font-weight: bold;
}

.card:hover .text {
  top: 15%;
  left: 5%;
}

.fil-shoes2 {
  fill: #a59573;
}
/* footer */

footer {
  background-color: #181818;
  margin-top: 150px;
  position: relative;
}

.footer-item {
  padding: 50px 140px;
}

.footer-top {
  background-color: #dddcdc;
  border-radius: 40px;
  position: relative;
  z-index: 1000;
  top: -100px;
}
.footer-top ul {
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.footer-top ul li {
  font-size: 30px;
  text-align: center;
}

.footer-content {
  height: 100px;
}

.footer-content ul {
  display: flex;
  justify-content: space-around;
}

.footer-content ul li:hover a {
  color: #000;
  background-color: white;
  border-radius: 10px;
  width: 200px;
}

.footer-content ul li a {
  color: white;
  font-size: 24px;
}

.footer-end {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.subscribe {
  position: relative;
  height: 120px;
  width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  color: #333;
  box-shadow: 0px 0px 60px 5px rgba(0, 0, 0, 0.4);
}

.subscribe:after {
  position: absolute;
  content: "";
  right: -10px;
  bottom: 18px;
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #1a044e;
}

.subscribe p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 4px;
  line-height: 28px;
}

.subscribe input {
  position: absolute;
  bottom: 30px;
  border: none;
  border-bottom: 1px solid #d4d4d4;
  padding: 10px;
  width: 82%;
  background: transparent;
  transition: all 0.25s ease;
}

.subscribe input:focus {
  outline: none;
  border-bottom: 1px solid #0d095e;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    "sans-serif";
}

.subscribe .submit-btn {
  position: absolute;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  background-color: #0f0092;
  color: #fff;
  padding: 12px 25px;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 5px;
  right: -10px;
  bottom: -20px;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: -5px 6px 20px 0px rgba(26, 26, 26, 0.4);
}

.subscribe .submit-btn:hover {
  background-color: #07013d;
  box-shadow: -5px 6px 20px 0px rgba(88, 88, 88, 0.569);
}

.footer-end p {
  color: wheat;
  font-size: 40px;
  display: flex;
  align-items: center;
}
