* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  background-color: tomato;
  height: 600px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.item {
  width: 200px;
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 32px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
